$borderColor = #c7c3be;

.gadget-tools
  hr
    height 1px
    border-width 0
    background $borderColor
    width 100%
    margin-bottom 15px

  .gadget-tool-editing
    span
      font-style italic

  .gadget-tool-property-sheets
    margin-top 10px

.gadget-console
  .console-menu
    height 25px
    border-bottom 1px solid $borderColor
    padding 10px
    font-weight bold
    .console-menu-item
      text-decoration none
      padding-right 10px
      &.console-menu-item-selected
        color #385455

  .console-body
    height 285px
    overflow scroll

    padding 10px

    .wasted-render-empty
      margin-top 10px
      font-style italic
    .wasted-render-results
      margin-top 10px
      width 100%
      td, th
        padding 5px
        border 1px solid $borderColor
      .wasted-render-footer
        text-align right
        font-style italic

  background-color white
  border-top 1px solid $borderColor

  .saved-states > div
    margin-bottom 10px

// Some values for making panels that slide in and out

$slideDurationSec = .15s

$sidePanelPaddingPx = 10px
$bottomPanelPaddingPx = '0 10px'
$sidePanelWidthPx = 200px
$sidePanelSlideOffsetPx = -220px
$bottomPanelHeightPx = 350px
$bottomPanelSlideOffsetPx = -320px;

// Some base styling for panels

.bottom-panel
  padding $bottomPanelPaddingPx
  position fixed
  height $bottomPanelHeightPx
  width 100%
  bottom 0

.side-panel
  padding $sidePanelPaddingPx
  position absolute
  width $sidePanelWidthPx
  top 0

.side-panel-left
  left 0
  div
    text-align left

.side-panel-right
  right 0
  div
    text-align right

// Animate panel sliding in from left

.slide-panel-in-from-left-enter
  left $sidePanelSlideOffsetPx
  transition left $slideDurationSec

.slide-panel-in-from-left-enter.slide-panel-in-from-left-enter-active
  left 0

.slide-panel-in-from-left-leave
  left 0
  transition left $slideDurationSec

.slide-panel-in-from-left-leave.slide-panel-in-from-left-leave-active
  left $sidePanelSlideOffsetPx

// Animate panel sliding in from right

.slide-panel-in-from-right-enter
  right $sidePanelSlideOffsetPx
  transition right $slideDurationSec

.slide-panel-in-from-right-enter.slide-panel-in-from-right-enter-active
  right 0

.slide-panel-in-from-right-leave
  right 0
  transition right $slideDurationSec

.slide-panel-in-from-right-leave.slide-panel-in-from-right-leave-active
  right $sidePanelSlideOffsetPx

// Animate panel sliding in from bottom

.slide-panel-in-from-bottom-enter
  bottom $bottomPanelSlideOffsetPx
  transition bottom $slideDurationSec

.slide-panel-in-from-bottom-enter.slide-panel-in-from-bottom-enter-active
  bottom 0

.slide-panel-in-from-bottom-leave
  bottom 0
  transition bottom $slideDurationSec

.slide-panel-in-from-bottom-leave.slide-panel-in-from-bottom-leave-active
  bottom $bottomPanelSlideOffsetPx
