.controls
  padding 10px
  position absolute
  top 0
  left 0
  width 300px

.controls-enter
  left -320px
  transition left .15s

.controls-enter.controls-enter-active
  left 0

.controls-leave
  left 0
  transition left .15s

.controls-leave.controls-leave-active
  left -320px

.info
  padding 10px
  position absolute
  top 0
  right 0
  width 300px

  div
    text-align right

.info-enter
  right -320px
  transition right .15s

.info-enter.info-enter-active
  right 0

.info-leave
  right 0
  transition right .15s

.info-leave.info-leave-active
  right -320px
