.controls
  position absolute
  top 10px
  left 10px
  width 300px

.controls-enter {
  left: -290px;
  transition: left .15s;
}

.controls-enter.controls-enter-active {
  left: 10px;
}

.controls-leave {
  left: 10px;
  transition: left .15s;
}

.controls-leave.controls-leave-active {
  left: -290px;
}

.info
  position absolute
  top 10px
  right 10px
  width 300px

  div
    text-align right

.info-enter {
  right: -290px;
  transition: right .15s;
}

.info-enter.info-enter-active {
  right: 10px;
}

.info-leave {
  right: 10px;
  transition: right .15s;
}

.info-leave.info-leave-active {
  right: -290px;
}

.crop-marks
  border-width 0px
  width 781px
  margin 0 auto
  margin-top 10px

  .corner
    width 30px
    height 30px
    position relative

    .crop-mark-shim
      background-color white
      position absolute
      width 10px
      height 10px

    &.top
      border-bottom 1px solid #e5e4e2
      .crop-mark-shim
        bottom -1px
    &.bottom
      border-top 1px solid #e5e4e2
      .crop-mark-shim
        top -1px

    &.left
      border-right 1px solid #e5e4e2
      .crop-mark-shim
        right -1px

    &.right
      border-left 1px solid #e5e4e2
      .crop-mark-shim
        left -1px

  .body
    .middle
      position relative
