.gadget-tools
  hr
    height 1px
    border-width 0
    background lightgrey
    width 100%
    margin-bottom 15px

  .gadget-tool-editing
    span
      font-style italic

  .gadget-tool-property-sheets
    margin-top 10px

.gadget-console
  background-color white
  border-top 1px solid lightgrey

  .saved-states > div
    margin-bottom 10px

// Some values for making panels that slide in and out

$slideDurationSec = .15s

$panelPaddingPx = 10px
$sidePanelWidthPx = 200px
$sidePanelSlideOffsetPx = -220px
$bottomPanelHeightPx = 300px
$bottomPanelSlideOffsetPx = -320px;

// Some base styling for panels

.bottom-panel
  padding $panelPaddingPx
  position absolute
  height $bottomPanelHeightPx
  width 100%
  bottom 0

.side-panel
  padding $panelPaddingPx
  position absolute
  width $sidePanelWidthPx
  top 0

.side-panel-left
  left 0
  div
    text-align left

.side-panel-right
  right 0
  div
    text-align right

// Animate panel sliding in from left

.slide-panel-in-from-left-enter
  left $sidePanelSlideOffsetPx
  transition left $slideDurationSec

.slide-panel-in-from-left-enter.slide-panel-in-from-left-enter-active
  left 0

.slide-panel-in-from-left-leave
  left 0
  transition left $slideDurationSec

.slide-panel-in-from-left-leave.slide-panel-in-from-left-leave-active
  left $sidePanelSlideOffsetPx

// Animate panel sliding in from right

.slide-panel-in-from-right-enter
  right $sidePanelSlideOffsetPx
  transition right $slideDurationSec

.slide-panel-in-from-right-enter.slide-panel-in-from-right-enter-active
  right 0

.slide-panel-in-from-right-leave
  right 0
  transition right $slideDurationSec

.slide-panel-in-from-right-leave.slide-panel-in-from-right-leave-active
  right $sidePanelSlideOffsetPx

// Animate panel sliding in from bottom

.slide-panel-in-from-bottom-enter
  bottom $bottomPanelSlideOffsetPx
  transition bottom $slideDurationSec

.slide-panel-in-from-bottom-enter.slide-panel-in-from-bottom-enter-active
  bottom 0

.slide-panel-in-from-bottom-leave
  bottom 0
  transition bottom $slideDurationSec

.slide-panel-in-from-bottom-leave.slide-panel-in-from-bottom-leave-active
  bottom $bottomPanelSlideOffsetPx
